{
	email {$EMAIL}
}

# Snippet für Entwicklungsumgebung
# Wird benutzt, wenn die Umgebungsvariable TLS_CONFIG="import dev_ssl_certs"
(dev_ssl_certs) {
	tls "/data/certs/local.cert.pem" "/data/certs/local.key.pem"
}

(log_common) {
	log {
		output file /var/log/caddy/caddy_access.log
	}
}

{$BASE_DOMAIN} {
	{$TLS_CONFIG}
	import log_common
	reverse_proxy hugo-nginx

	route / {
		redir https://{$PRETIX_SUBDOMAIN}.{$BASE_DOMAIN}
	}
}

{$GF_SUBDOMAIN}.{$BASE_DOMAIN} {
	{$TLS_CONFIG}
	import log_common
	reverse_proxy grafana:3000
}

{$HEDGEDOC_SUBDOMAIN}.{$BASE_DOMAIN} {
	{$TLS_CONFIG}
	import log_common
	reverse_proxy hedgedoc:3000
}

{$PRETIX_SUBDOMAIN}.{$BASE_DOMAIN} {
	{$TLS_CONFIG}
	import log_common

	redir / /hgp/abimania 301
	redir /hgp /hgp/abimania 301

	handle {
		reverse_proxy pretix {
			header_up X-Forwarded-For {remote}
			header_up X-Forwarded-Proto {scheme}
			header_up Host {host}
		}
	}
}
